body {
	background-image: url('../images/Crystal_Background.jpg');
	font-size: 16px;
}

#message {
	text-align: center;
	color: red;
	font-size: 20px;
}

#random-number, #totalScore {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.click-a-crystal {
	font-size: 25px;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	                 0px -5px 35px rgba(255,255,255,0.3);
	}